<div class="content-card">
  <div class="card-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15.5 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.5L15.5 3Z"></path><path d="M15 3v6h6"></path><path d="M10 16s-1.5-2-4-2"></path><path d="M10 12s-1.5-2-4-2"></path></svg>
    <h2>My Marks</h2>
  </div>
  <div class="card-body">
    <ul *ngIf="marks.length > 0; else loading">
      <li *ngFor="let mark of marks">
        <span>{{ mark.subject }}</span>
        <span><strong>{{ mark.score }}</strong></span>
      </li>
    </ul>
    <ng-template #loading><p>Loading marks...</p></ng-template>
  </div>
</div>