<div class="register-container">
  
  <div class="branding-section">
    <div class="logo">
      <img src="assets/images/logo.jpg" alt="Carmel College Logo">
    </div>
    <h1 class="college-name">Carmel College of Engineering and Technology</h1>
  </div>

  <div class="register-card">
    <h2 class="register-title">Create an Account</h2>
    <form #registerForm="ngForm" (ngSubmit)="onRegister()">
      <div class="input-group">
        <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="registerData.email" required>
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="registerData.password" required>
      </div>
       <div class="input-group">
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" class="register-btn">Register</button>
    </form>
    <div class="login-link">
      <span>Already have an account? <a routerLink="/login">Sign In</a></span>
    </div>
  </div>

  </div>